<main>
    <div class="return">
        <a routerLink="/events">Volver</a>
    </div>
    <div class="mainContent">
        <section class="tickets" *ngIf="sessionList.length > 0; else ElseBlock">
            <div *ngFor="let item of sessionList">
                <p>Fecha: {{item.date | date:'dd/MM/yyyy'}}, Disponibilidad: {{item.availability}}</p>
                <div class="count">
                    <button (click)="checkRemove(item.date)"><i-feather name="minus"></i-feather></button>
                    <p id="i">{{selectedTickets[item.date]}}</p>
                    <button (click)="checkAdd(item.date)"><i-feather name="plus"></i-feather></button>
                </div>
            </div>
        </section>
        <ng-template #ElseBlock class="tickets">
            <p>EVENT INFO NOT FOUND</p>
        </ng-template>
        
        <app-cart></app-cart>
    </div>
</main>